<!doctype html>
<html lang="en" ng-app="portfolioApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="js/controllers.js"></script>
    <title>Lab. 7</title>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="containerHead">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" 
            data-toggle="collapse" data-target="#navbar-collapse-1"
            aria-expanded="false">
              <span class="sr-only">Toggle nav</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>       
            </button>
            <a class="navbar-brand" href="#"><img class="img-logo" src="penguin.png" alt="logo"></a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a class="btn btn-primary" href="#main-page" title="homepage">
                    <span class="glyphicon glyphicon-object-align-right"></span> Strona główna</a></li>
              <li><a class="btn btn-primary" href="#trip" title="trip">
                    <span class="glyphicon glyphicon-object-align-right"></span> Podróże</a></li>
              </a></li>
              <li><a class="btn btn-primary" href="#gallery" title="gallery">
                <span class="glyphicon glyphicon-camera"></span> Galeria</a></li>
              <li><a class="btn btn-primary" href="#contact" title="contact">
                <span class="glyphicon glyphicon-phone-alt"></span> Kontakt</a></li>
              <li><a class="btn btn-primary" href="#" title="forum">
                <span class="glyphicon glyphicon-folder-open"></span> Forum</a></li>
            </ul>
          </div>
        </div>
      </nav>
    <header>
        <div class="container">
            <div id="carouselID" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselID" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselID" data-slide-to="1"></li>
                    <li data-target="#carouselID" data-slide-to="2"></li>
                    <li data-target="#carouselID" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img class="head-img" src="photo1.jpg" alt="photo1">
                        <div class="carousel-caption">Opis dla obrazka nr 1</div>
                    </div>
                    <div class="item">
                        <img class="head-img" src="photo2.jpg" alt="photo2">
                        <div class="carousel-caption">Opis dla obrazka nr 2</div>
                    </div>
                    <div class="item">
                        <img class="head-img" src="photo3.jfif" alt="photo3">
                        <div class="carousel-caption">Opis dla obrazka nr 3</div>
                    </div>
                    <div class="item">
                        <img class="head-img" src="photo4.jpg" alt="photo4">
                        <div class="carousel-caption">Opis dla obrazka nr 4</div>
                    </div>
                </div>
                <a class="left carousel-control" href="#carouselID" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" ariahidden="true"></span>
                    <span class="sr-only">poprzedni</span>
                </a>
                <a class="right carousel-control" href="#carouselID" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" ariahidden="true"></span>
                    <span class="sr-only">nastepny</span>
                </a>
            </div>
        </div>
    </header>
    <section id="main-page" class="jumbotron">
        <div class="container">
            <h1><span class="glyphicon glyphicon-object-align-right"></span> Tytuł</h1>
            <p>
                Przykładowy tekst
            </p>
        </div>
    </section>

    
    <section ng-controller="GalleryListCtrl" id="trip" class="jumbotron">
        <div class="container" ng-controller="Title">
            <h1>{{title.title}}</h1>
            <p>{{title.subtitle}}</p>
            <p>Ilość zdjęć: {{galleries.length}}</p>
            <input ng-model="query"><p></p>
            <label>Sortuj: </label>
            <select ng-model="orderProp" class="form-control" ng-options="sort as sort.label for sort in sortList">
                <option value="title">alfabetycznie</option>
                <option value="when">chronologicznie</option>
                <option value="-when">od najnowszego</option>
            </select>
            <p ng-if="orderProp"><h4>Galerie ułożone {{orderProp.label}}</h4></p>
            <div class="queryResultText" ng-if="query">
                <p><h5>Wynik wyszukiwania dla: {{query}}</h5></p>
            </div>
            <div class="queryResultText" ng-if="!query">
                <p><h5>Ilość wszystkich galerii: {{galleries.length}}</h5></p>
            </div>
            <div class="row text-center">
                <div class="col-sm-4 d-flex align-items-center justify-content-center" ng-repeat="gallery in galleries | filter: query | orderBy: orderProp.value">
                    <img src="{{gallery.thumbnailUrl}}">
                    <h3>{{gallery.title}}</h3>
                    <p><stron>Kiedy: </stron>{{gallery.when | date: 'dd MMMM yyyy'}}</p>
                </div>
            </div>  
        </div>
    </section>

    <section id="gallery">
        <div class="container bg-info">
            <h1><br><span class="glyphicon glyphicon-camera"></span> Galeria</h1>
            <p class="text-light">Jest to skromna galeria zdjęć</p>
            <div class="row text-center">
                <div class="col-sm-3">
                    <img class="img-gal img-circle mx-auto d-block img-responsive" src="img1.jpg">
                    <h3 class="text-danger">Tygrys obserwator</h3>
                </div>
                <div class="col-sm-3">
                    <img class="img-gal img-circle mx-auto d-block img-responsive" src="img2.jpg">
                    <h3 class="text-danger">Tygrys poszukiwacz</h3>
                </div>
                <div class="col-sm-3">
                    <img class="img-gal img-circle mx-auto d-block img-responsive" src="img3.jpg">
                    <h3 class="text-danger">Tygrys pływak</h3>
                </div>
            </div>
            
        </div>
    </section>
	<section id="contact">
	<div class="container">
        <legend><span class="glyphicon glyphicon-phone-alt"></span> Formularz kontaktowy</legend>
        <form action="index.html" method="post" onsubmit="return(checkForm());">
          <div class="form-group" id="borderFname">
            <label for="fname">Imię:</label>
            <input type="text" class="form-control" id="fname" placeholder="Wpisz imię" name="fname" onblur="onblurFname()" onchange="onchangeFname()">
            <p id="errorFname" class="hide">Podanie imienia jest wymagane!</p>
          </div>
          <div class="form-group" id="borderLname">
            <label for="lname">Nazwisko:</label>
            <input type="text" class="form-control" id="lname" placeholder="Wpisz nazwisko" name="lname" onblur="onblurLname()" onchange="onchangeLname()">
            <p id="errorLname" class="hide">Podanie nazwiska jest wymagane!</p>
          </div>
          <div class="form-group" id="borderEmail">
            <label for="email">Email:</label>
            <input type="text" class="form-control" id="email" placeholder="Wpisz adres email" name="email" onblur="onblurEmail()" onchange="onchangeEmail()">
            <p id="errorEmail" class="hide">Podanie emaila jest wymagane!</p>
            <p id="errorEmail2" class="hide">Niepoprawny email!</p>
          </div>
          <div class="form-group" id="borderInfo">
            <label for="info">Treść (250 znaków):</label>
            <textarea type="text" class="form-control" id="info" name="info" placeholder="Wpisz treść" onblur="onblurInfo()" onchange="onchangeInfo()"></textarea>
            <p id="errorInfo" class="hide">Podanie treści jest wymagane!</p>
          </div>
          <input id="send-button" type="submit" value="Wyślij">
        </form>
      </div>
	</section>
    <footer>
        <div class="container">
            <a href="#" data-toggle="modal" data-target="#myModal">Polityka prywatności</a>
        </div>
    </footer>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    Jakiś tekst
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-lg btn-block" data-dismiss="modal">Close</button> 
                </div>
            </div>
        </div>
    </div>
    <script src="js/forms.js"></script>
  </body>
</html>