body {
    font-size:18px; 
    color:#ffffff; 
    background:rgb(48, 48, 48); 
    font-family: Arial, Helvetica, sans-serif;
    font-family: Verdana, Geneva, sans-serif;
    font-family: 'Merriweather', serif;
    margin: 0;
    transform-origin: 0 0;
}

.head-img {
    width: 500px;
    height: 700px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 100vw;
    height: 100vh;
}

.img-gal {
    width: auto;
    height: 400px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}


h1, h2, h3, h4, h5, h6, legend {
    color: white;
}

.jumbotron {
    background-color: rgb(48, 48, 48);
}

.bg-info {
    background-color: rgb(48, 48, 48);
}

.navbar-inverse .nav li a .glyphicon {
    color: #ff0000;
} 

section .glyphicon {
    color: yellow;
}

.navbar-inverse .nav li .btn {
    background-color: rgb(46, 46, 46);
    border: none;
    margin-right: 25px;
}

.img-logo {
    width: auto;
    height: 40px;
    position: absolute;
    top: 5px;
    left: 5px;
}

#contact .form-control {
    width: 20vw;
}

#contact #info {
    width: 20vw;
}

#contact #send-button {
    background-color: black;
    color: white;
    border: 2px solid white;
}

header {
    height: 20vw;
    margin-bottom: 2vh;
}

#carouselID img {
    width: auto;
    height: 20vw;
    border: 2px solid black;
    border-radius: 10%;
}

#gallery .img-gal {
    height: 40vh;
}

#trip img {
    height: 30vh;
}

#trip input {
    background-color: gray;
    margin-bottom: 5px;
}

#trip .form-control {
    width: 10vw;
    margin-bottom: 10px;
}